@tailwind base;
@tailwind components;
@tailwind utilities;

p {
  @apply text-xs;
  @apply sm:text-sm;
  @apply md:text-base;
  /* @apply lg:text-lg; */
}

.cut-text {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 160px;
  white-space: nowrap;
}

.cut-text:hover {
  text-overflow: clip;
  overflow: visible;
  white-space: normal;
}
