@tailwind base;
@tailwind components;
@tailwind utilities;

.main-content {
  /* div with class ending with "-page" */
  > div[class$="-page"] {
    @apply max-w-[1024px] w-full justify-start p-6;
  }
}

.cut-text {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 160px;
  white-space: nowrap;
}

.cut-text:hover {
  text-overflow: clip;
  overflow: visible;
  white-space: normal;
}
