@tailwind base;
@tailwind components;
@tailwind utilities;

p {
  @apply text-xs;
  @apply sm:text-sm;
  @apply md:text-base;
  /* @apply lg:text-lg; */
}

h1 {
  @apply font-bold;
  @apply text-2xl md:text-3xl lg:text-4xl xl:text-6xl;
}

h2 {
  @apply font-semibold;
  @apply text-sm md:text-lg lg:text-2xl xl:text-4xl;
}

h3 {
  @apply font-semibold;
  @apply text-sm md:text-base lg:text-lg xl:text-3xl;
}

header {
  @apply !max-w-full;
}

.cut-text {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 160px;
  white-space: nowrap;
}

.cut-text:hover {
  text-overflow: clip;
  overflow: visible;
  white-space: normal;
}
